.about {
	display: inline-block;
	width:58%;
	vertical-align: top;
	margin: 10px;
	margin-right: 20px;
	margin-left: 0px;
	box-sizing: border-box;
}

.about p {
	margin: 10px;
	margin-left: 0px;
}

.contact {
	display: inline-block;
	width:36%;
	vertical-align: top;
	box-sizing: border-box;
	margin: 10px;
}

.contact h3 {
	margin-bottom: 5px;
}

.contact div {
	margin: 5px;
}

.contact div img {
vertical-align: middle;
margin-right: 10px;
}