footer{
	width:100%;
	margin-top: 100px;
	background: #C63636;
	color:#201821;
	position:absolute;
}


.footer-brand{
	padding: 20px;
	display: inline-block;
}

.footer-social {
	padding: 17px;
	position:relative;
	display: inline-block;
	float: right;
}

.footer-social a {
	-webkit-link: none;
}

.footer-social .logo-icons img:hover{
	transition: all .3s ease-in-out;
	transform: scale(1.5);
  }
  
.footer-social .logo-icons img{
	width: 25px;
	margin-left: 12px;
  }