* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #201821;
}

a {
  text-decoration: none;
  color: #201821;
}
.container {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.dropdown {
  float: right;
  display: none;
  padding-right: 10%;
}

.btn_toggle {
  text-decoration: none;
  font-size: 35px;
  color: #201821;
  cursor: pointer;
}

.logo-title {
  text-align: center;
  background-color: #c63636;
}

header {
  position: relative;
}
.logo-header {
  z-index: 99;
  position: absolute;
  top: -30px;
  left: 140px;
}

.logo {
  width: auto;
  height: 225px;
  margin-left: 10%;
}

nav {
  background: #c63636;
  text-align: center;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: bold;
  height: 127px;
  padding-top: 80px;
}

.navbar-items {
  display: inline-block;
  margin: 0 20px;
  z-index: 10;
}

.navbar {
  display: inline-block;
  padding-left: 7%;
}

.navbar-items a {
  font-size: 25px;
  border-bottom: 1px solid transparent;
  padding: 10px;
  text-transform: uppercase;
}

.navbar-items a:hover {
  border-bottom: 1px solid #201821;
  transition: 0.4s;
}

.prev {
  display: none;
}

.next {
  display: none;
}

.header-social {
  transform: translate(-200%, 0%);
  position: relative;
  float: right;
}

.header-social .logo-icons svg {
  width: 20px;
  height: 20px;
  margin-left: 12px;
}

.logo-icons svg:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.5);
  fill: white;
}

.navbar-social {
  padding-top: 24px;
  opacity: 0;
}

.navbar-social .logo-icons svg {
  width: 20px;
  height: 20px;
}

.navbar-social .logo-icons {
  margin-left: 12px;
}

.navbar-social .logo-icons:first-child {
  margin-left: 0;
}

.document h1 {
  padding: 5px;
}

.document h2 {
  padding: 5px;
}

.document h3 {
  padding: 5px;
}

.document h4 {
  padding: 5px;
}

.document p {
  padding: 5px;
}
.document ul {
  padding: 5px;
}

.document ul li {
  padding: 5px;
}
